/** CSS STYLE **/

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap');


:root {
  --bg-img: url('../img/background.png');
  --accent-color: #fe8a02;
  --white-color: #fff;
  --translucent-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --text-color: #2A2626;
  --dark-color: #42413c;
  --translucent-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
  --text-font: 'Open Sans', sans-serif;
  --title-font: 'Neucha', cursive;
}

.colortext {
  color: #fe8a02;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}


h1, h2, h3 {
  line-height: 1.2em;
  font-family: var(--title-font);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 { 
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.background {
  position: relative;
}

.background::before {
  content: '';
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0.1;
}

/*Main page*/

.header {
  height: 450px;
}


.main__wrapper {
  display: block;
  position: relative;
}
.main__wrapper:before {
  content: '';
  background-image: url('../img/main.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 1135px;
  height: 525px;
  right: -15px;
  top: 35px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.content_left {
  margin-right: 30px;
}

.content_right, .content_left {
  flex-grow: 1;
  flex-basis: 0;
}

.main__btn {
  margin-top: 40px;
  padding: 12px 24px;
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
}

/*End main page*/

/*First section*/

.section-first {
  position: relative;
  text-align: center;
  height: 800px;
}

.section-first h2 {
  margin-bottom: 30px;
}

.video {
  position: absolute;
  left: 23%;
  top: 41%;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/*End first section*/


/*Second section*/

.section-second {
  background-color: var(--dark-color);
}

.section-second__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}

.section-second__item {
  height: 350px;
  width: 350px;
  color: var(--dark-color);
  background-color: var(--light-color);
  margin-top: 30px;
  padding: 24px;
  line-height: 1;
  text-decoration: none;
}

.section-second__item:hover, :focus, :active,
.section-second__item h3:hover, :focus, :active
 {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.section-second__item h3 {
  padding-bottom: 16px;
  color: var(--accent-color);
}

/* .section-second__item h3:hover, :focus, :active
 {
  color: var(--white-color);
} */


.section-second__item:nth-child(1) {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-size: 52px;
  padding: 0;
}

.section-second__item-num {
  font-family: var(--title-font);
  font-size: 64px;
  padding-bottom: 35px;
}

/*End second section*/